@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

h1 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Merriweather', serif;
}
a {
  font-family: 'Merriweather', serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2c423f;
  background-color: #d4a373;
}

nav {
  margin: 0 auto;
  max-width: 760px;
  background-color: #e9edc9;
}

.direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation {
  list-style: none;
  padding: 0.75em;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  color: #ccd5ae;
  display: none;
}
.navigation a {
  display: block;
  padding: 0.25rem;
  text-align: left;
  text-decoration: none;
  color: #2c423f;
  font-weight: 700;
  transition: 0.5s;
}

.navigation a:hover {
  color: #2c423f;
  background-color: #c5c5c5;
}

.responsive li {
  display: block;
}

h2 {
  text-align: center;
}

.forecast {
  border: 2px #e9edc9;
  border-style: solid;
  text-align: center;
  padding: 20px;
}

footer {
  padding: 0.5em;
  text-align: center;
  background-color: #d4a373;
  color: #2c423f;
}

@media only screen and (min-width: 32.5em) {
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }
}
