@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

h1 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Merriweather', serif;
}
a {
  font-family: 'Merriweather', serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #d4a373;
}

nav {
  margin: 0 auto;
  max-width: 760px;
  background-color: #e9edc9;
}

.direction {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation {
  list-style: none;
  padding: 0.75em;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  color: #ccd5ae;
  display: none;
}
.navigation a {
  display: block;
  padding: 0.25rem;
  text-align: left;
  text-decoration: none;
  color: gray;
  font-weight: 700;
  transition: 0.5s;
}

.navigation a:hover {
  color: #d4a373;
  background-color: #ccd5ae;
}

.responsive li {
  display: block;
}

h2 {
  text-align: center;
}

.forecast {
  border: 2px #e9edc9;
  border-style: solid;
  text-align: center;
  padding: 20px;
}

/* form */

.applicant {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.applicant-title {
  text-align: center;
}

.weather-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25px 50px 1fr 300px;
  justify-content: center;
}

#stormleg {
  text-align: center;
}

#storm-date {
  grid-column: 1/2;
  grid-row: 2/3;
}

#dropdown {
  grid-column: 1/2;
  grid-row: 3/4;
}

.slider {
  grid-column: 2/3;
  grid-row: 2/3;
}

#select-menu {
  grid-column: 2/3;
  grid-row: 3/4;
}

.multiple {
  grid-column: 3/4;
  grid-row: 2/4;
}

#comment-box {
  grid-column: 1/4;
  grid-row: 4/5;
}

.subimission {
  display: flex;
  justify-content: center;
}

form fieldset {
  margin: 2rem 0;
  border: 1px solid #d4a373;
  border-radius: 10px;
  padding: 0.5rem 2%;
}

form legend {
  color: #d4a373;
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: x-large;
}

form label.apply,
form div {
  display: block;
  padding-top: 1rem;
  color: #d4a373;
  font-size: 1rem;
}

form label.apply input,
form label.apply select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #d4a373;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.applied,
form div {
  display: block;
  padding-top: 1rem;
  color: #d4a373;
  font-size: 1rem;
}

form label.applied textarea {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #d4a373;
  width: 100%;
  height: 100%;
  max-width: 50rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.radio {
  display: block;
  padding: 0.75rem;
  color: #d4a373;
}

form input.submitBtn {
  border: none;
  background-color: #d4a373;
  color: black;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.apply input:required {
  border-left: red solid 6px;
}

form label.apply input:valid {
  border-left: green solid 6px;
}

footer {
  padding: 0.5em;
  text-align: center;
  background-color: #d4a373;
  color: black;
}

@media only screen and (min-width: 32.5em) {
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }
}
